#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar-container {
  background-color: black;
  display: flex;
  justify-content: right;
  position: absolute;
  float: right;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}

.navbutton {
  padding: 1rem;
  background-color: black;
  border: none;
  color: var(--text-secondary);
  font-family: "Cascadia Code", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(194, 194, 194);
  cursor: pointer;
  transition: 0.1s;
}

.navbutton:hover {
  background-color: rgb(19, 19, 19);
}

.navbutton:active {
  background-color: black;
  scale: 0.9;
}
